.formulario-dinamico {
  max-width: 900px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.mat-card {
  margin-top: 1rem;
}

.grid {
  display: grid;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.p-4 {
  padding: 1rem;
}
