.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.dialog-header-line {
  height: 50px;
  width: 100%;
  background-color: #053e77; /* color primario de Angular Material */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dialog-scroll {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 1rem;
}